/* Base CSS */
:root {
  --primary-color: #3cbb47;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px */
}

body {
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--primary-color);
  color: #fff
}

.center {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 3rem;
}

/* Header */
header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0, .16);
}

header .center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--primary-color);
  font-size: 2.8rem;
}

header nav a {
  position: relative;
  color: #777;
  font-size: 1.6rem;
  transition: color .3s;
}

header nav a:hover {
  color: var(--primary-color);
}

header nav a + a {
  margin-left: 1.5rem;
}

header nav a.active {
  color: var(--primary-color);
  font-weight: bold;
}

header nav a.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: rgba(0,0,0, .16);
}

header nav a.nav-btn {
  background-color: var(--primary-color);
  border: 2px solid rgba(0,0,0, .10);
  padding: .3rem 1.5rem;
  border-radius: 4px;
  color: #fff;
  transition: background .3s, color .3s;
}

header nav a.nav-btn:hover {
  background: rgba(0,0,0, .16);
  color: #000
}

/* Banner */
.banner {
  width: 100%;
  height: 650px;
  background-image: linear-gradient(-19deg, var(--primary-color) 0%, rgba(0,0,0,.30) 100%);
}

.banner .center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner img {
  height: 300px;
  flex-shrink: 0;
}

.banner-text {
  color: #fff;
  margin-right: 8rem;
}

.banner-text h1 {
  font-weight: bold;
  font-size: 5.4rem;
  line-height: 1.1;
}

.banner-text p {
  font-size: 1.7rem;
  margin-top: 1rem;
  opacity: 0.8;
}

.banner-links {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}

.banner-links a {
  font-size: 1.5rem;
  text-decoration: underline;
}

.banner-links a:hover {
  text-decoration: none;
}

.banner-links a.banner-btn {
  margin-right: 2.2rem;
  background-color: #333;
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: transform .2s, box-shadow .2s;
  text-shadow: 0px 1px 1px rgba(0,0,0, .16);
}

.banner-links a.banner-btn i {
  margin-left: .5rem;
}

.banner-links a.banner-btn:hover {
  box-shadow: 0px 2px 8px rgba(0,0,0, .1);
  transform: translateY(-3px);
}

.banner-links a.banner-btn:active {
  box-shadow: 0 1px 3px rgba(0,0,0, .13);
  transform: translateX(0);
}

/* About */
.about {
  padding: 8rem 0;
}

.about .center {
  display: flex;
  align-items: center;
}

.about .center img {
  width: 100%;
  max-width: 650px;
  display: block;
  border-radius: 4px;
}

.about-text {
  margin-left: 4rem;
}

.about-text h1 {
  color: var(--primary-color);
  line-height: 1.2;
  font-size: 3.4rem;
  font-weight: 400;
}

.about-text p {
  color: #777;
  margin: .5rem 0 1.5rem 0;
  font-size: 1.7rem;
}

.about-text ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -1.5rem;
}

.about-text li {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.about-text i {
  color: var(--primary-color);
  font-size: 12px;
  margin-right: 8px;
}

/* Tecnologias */
.tech {
  background-color: #eee;
  text-align: center;
  padding: 6rem 0;
}

.tech .center h2 {
  color: #555;
  font-weight: 300;
  font-size: 4rem;
}

.tech .center h3 {
  color: #777;
  font-weight: 400;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  margin: 4.5rem -1rem 0 -1rem;
}

.tech-wrapper {
  width: 25%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.tech-item {
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: transform .2s, box-shadow .2s;
}

.tech-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

.tech-item h4 {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  padding: 1.5rem 1.5rem .8rem 1.5rem;
}

.tech-item h4 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.tech-item p {
  text-align: left;
  color: #888;
  padding: 0 1.5rem;
}

.tech-info {
  border-top: 1px solid #ddd;
  margin-top: 1.5rem;
  display: flex;
}

.tech-info div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.tech-info div + div {
  border-left: 1px solid #ddd;
}

.tech-info div i {
  font-size: 14px;
  color: var(--primary-color);
}

.tech-info div span {
  color: #666;
  font-size: 1.5rem;
  margin-top: .3rem;
}

/* Blog */
.blog {
  padding: 8rem 0 10rem 0;
}

.blog .center {
  display: flex;
  justify-content: space-between;
}

.blog-post {
  width: 550px;
  background: #fff;
  box-shadow: 0 20px 30px rgba(10, 138, 48, 0.2);
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow .3s;
}

.blog-post > img {
  width: 100%;
  display: block;
}

.blog-post i {
  color: var(--primary-color);
  font-size: 14px;
}

.post-content {
  padding: 2rem;
  display: flex;
}

.post-content .avatar {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-top: -40px;
  margin-right: 2.5rem;
}

.post-text .date {
  display: flex;
  align-items: center;
  color: #666;
}
.post-text .date i {
  margin-right: 8px;
}

.post-text h3 {
  color: #444;
  line-height: 1.3;
  margin-top: .75rem;
  transition: color .3s;
}

.post-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.post-footer span {
  font-size: 1.5rem;
  color: #666;
  line-height: 1;
}

.post-footer i {
  margin: 0 5px;
  font-size: 13px;
  transition: transform .2s;
}

.post-footer span:first-child {
  width: 100px;
  justify-content: center;
  font-weight: bold;
}

.blog-post:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, .16);
}

.blog-post:hover .post-text h3 {
  color: var(--primary-color);
}
.blog-post:hover .post-footer span:first-child i {
  transform: translateX(5px);
}

/* Footer */
footer {
  background: var(--primary-color);
  text-align: center;
  padding: 3rem 0;
}

footer img {
  opacity: .25;
  width: 5rem;
}

footer p {
  opacity: .55;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Media Queries CSS responsivo */
/* Documento HTML */
@media (max-width: 1080px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 54%;
  }
}

/* Header */
@media (max-width: 720px) {
  header nav {
    display: none;
  }

  header .menu {
    font-size: 22px;
    color: var(--primary-color);
  }

  header .menu.open {
    position: fixed;
    z-index: 2;
    right: 3rem;
  }

  header .menu.open + nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
  }
  header nav a {
    font-size: 2.4rem;
  }
  header nav a + a {
    margin: 2rem 0 0;
  }
}

@media (min-width: 721px) {
  header .menu {
    display: none;
  }
}

/* Banner */
@media (max-width: 1180px) {
  .banner {
    height: 450px;
  }
  .banner img {
    height: 180px;
  }
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 780px) {
  .banner {
    height: auto;
    padding: 4rem 0;
  }
  .banner .center {
    flex-direction: column;
  }
  .banner-text {
    margin-right: 0;
  }
  .banner-text h1 {
    font-size: 3rem;
  }
  .banner img {
    order: -1;
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .banner-links {
    flex-direction: column;
  }
  .banner-links a.banner-btn {
    margin-bottom: 1rem;
  }
}

/* About */
@media (max-width: 1240px) {
  .about .center img {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .about .center {
    align-items: flex-start;
  }

  .about-text ul {
    flex-direction: column;
  }

  .about-text li {
    width: 100%;
  }
}

@media (max-width: 720px) {
  
  .about {
    padding: 4rem 0;
  }

  .about .center img {
    display: none;
  }
 

  .about-text {
    margin-left: 0;
  }

  .about-text h1 {
    font-size: 2.8rem;
  }
}

/* Tech */
@media (max-width: 920px) {
  .tech-wrapper {
    width: 50%;
  }

  .tech {
    padding: 4rem 0;
  }

  .tech h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 550px) {
  
  .tech-list {
    margin-top: 3rem;
  }

  .tech-wrapper {
    width: 100%;
  }
  
}